<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}

    <p>This website is creaed by Atharva.It uses the data from mapbox and weatherstack api to show weather</p>
   <img class="portrait"src="/img/robot.png" alt="">
   
    {{>footer}}
</body>
</html>

<html>
